<mat-toolbar color="primary">
  <span>iBank</span>
  <span class="spacer"></span>
  <button mat-button (click)="signIn()">Sign In</button>
</mat-toolbar>

<mat-card>
  <mat-card-content>
    <form [formGroup]="registerForm">
      <mat-form-field>
        <input matInput placeholder="Enter your first name" formControlName="firstName">
        <mat-error *ngIf="f.firstName.errors">
          <div *ngIf="f.firstName.errors.required">First name is required</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your last name" formControlName="lastName">
        <mat-error *ngIf="f.lastName.errors">
          <div *ngIf="f.lastName.errors.required">Last name is required</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="date" placeholder="Enter your birth date" formControlName="birthDate">
        <mat-error *ngIf="f.birthDate.errors">
          <div *ngIf="f.birthDate.errors.required">Birth date is required</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your cpf" formControlName="identification">
        <mat-error *ngIf="f.identification.errors">
          <div *ngIf="f.identification.errors.required">CPF is required</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="email" placeholder="Enter your email" formControlName="email">
        <mat-error *ngIf="f.email.errors">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.email">Invalid email format</div>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Enter your password" formControlName="password">
        <mat-error *ngIf="f.password.errors">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" [disabled]="loading || registerForm.invalid"
      (click)="register()">Register</button>
  </mat-card-actions>
</mat-card>