:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

mat-toolbar {
  position: absolute;
  top: 0;
  z-index: 9999;
}

mat-card {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.header-image {
  background-image: url("https://www.w3schools.com/w3images/avatar2.png");
  background-size: cover;
}

.spacer {
  flex: 1 1 auto;
}
